<!DOCTYPE html>

<html>

    <head>
        <title>Agile Quest</title>
        <link rel = "stylesheet" href = "/css/styles.css">
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            <p>Use this site to make a reservation</p>

            <form>
                <input name = "name" placeholder="name">
                <p></p>
                <input name = "startDate" placeholder = "Start Date" type = "datetime-local">
                <p></p>
                <input name = "endDate" placeholder = "End Date" type = "datetime-local">
                <p></p>
                <button>Reserve</button>
                
            </form>
            
            <p id = "message-1"></p>
        </div>

        {{>footer}}

        <script src="/js/app.js"></script>
    </body>

</html>